html, body {
    height: 100%;
    background-color: #f9fadd;
    

    color: #4985da;

}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

* {
    
    font-family: 'Cherry Swash', serif;
}

#navbar {
    color: #4985da;
    
}

.navbar-brand {
    font-family: 'Cherry Swash', serif;
    
    
    
}

.card-title {
    text-align: center;
}

section {
    margin: 2%;
}

.card-body {
    background-color: #f9fadd;
}

.card-title, .card-text {
    color: #4985da;
}
